body {background-image: url(main.jpg);
	width: 100%;
	height: calc(100vh - 60px);
	position:absolute;
	color: yellow;
	font-size: 20px;
}
img {
width: 925px;
height: 500px;
margin:0;
}
ol {
	font-size:14px;
	display: flex;
}
li {
	padding-right: 100px;
	}
	#header {
	width: 100;
	height:60px;
	font:italic;
	color: rgb(3,252,19);
	font-size: 50px ;
	background: linear-gradient(to top,#000000,#016e07);
	margin:0px;
	padding:0px;
	display: flex;
}
	footer {
	width: 100%;
	height: 50px;
	background:linear-gradient(to bottom,#000000,#016e07);
	color:yellow;
	text-align: center;
}
